{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
<ul class="nav nav-tabs" id="nav-tab" role="tablist">
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
    loop.first ? 'is-active',
    'nav-item',
    'nav-link',
    'map-tab',
  ]
  %}
  <li class="{{ loop.first ? 'active' }}">
    <a class="{{ row_classes|join(' ') }}" data-toggle="tab" href="#allocation-{{ loop.index }}" role="tab" aria-controls="nav-home" aria-selected="true">
      {{ row.content['#node'].title.value }}
    </a>
  </li>
{% endfor %}
</ul>
<div class="tab-content" id="nav-tabContent">
{% for row in rows %}
  {%
    set row_classes = [
    default_row_class ? 'views-row',
    loop.first ? 'active',
    loop.first ? 'in',
    'tab-pane',
    'fade',
  ]
  %}
  <div class="{{ row_classes|join(' ') }}" id="allocation-{{ loop.index }}" role="tabpanel" aria-labelledby="nav-home-tab">
    {{- row.content -}}
  </div>
{% endfor %}
</div>
