{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% if subareas %}
  {% for subarea in subareas %}
    {% if subarea %}
      <a href="#map--{{ subarea|clean_class }}" class="btn btn-default show-subarea-map {{ not has_active_button ? 'active' }}">{{ subarea }}</a>
      {% set has_active_button = true %}
    {% endif %}
  {% endfor %}
{% endif %}
<div class="position-relative">
{% for key, row in rows %}
  {% if subareas[key] and not firstmap %}
    {% set classes = 'subarea-map active' %}
    {% set firstmap = true %}
  {% else %}
    {% set classes = 'subarea-map' %}
  {% endif %}
  <div id="map--{{ view.style_plugin.getField(key, 'title')|render|striptags|clean_class }}" class="{{ classes }}" >
    {{- row.content -}}
  </div>
{% endfor %}
</div>
