<div class="block-section">
  <h5 class="title"></h5>
</div>
<div class="center-container">
  <div class="row">
    <div class="col-md-8">
      <a class="use-ajax btn btn-info btn-xs" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/charge?farmer_id={{data.farmer_id}}&offer_licence_id={{data.offer_licence_id}}">Add Charge</a> NB: Fee can not be entered for land rent - this is calculated automatically</div>
    <div class="col-md-4 views-field">
      <span class="views-label">TOTAL CHARGES</span>
      <div class="field-content">UGX {{ data.total }}</div>
    </div>
  </div>
</div>
<div class="block-section">
  <h5 class="title"></h5>
</div>
<div class="center-container">
  <div class="row">
    <div class="col-md-12">1.LAND RENT</div>
  </div>
  <div class="row">
    <div class="col-md-4 views-field">Starting amount</div>
    <div class="col-md-4 views-field">
      <span class="views-label">&nbsp;</span>
      <div class="views-label">&nbsp;</div>
    </div>
    <div class="col-md-4 views-field">
      <span class="views-label">Sub-total</span>
      <div class="field-content">UGX {{ data.rent_sub_total }}</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 views-field">Annual charges<br>These changes are not editable and are calculated automatically</div>
    <div class="col-md-4 views-field">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Year</th>
              <th id="view-field-amount-table-column" class="views-field views-field-field-amount" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {% for key,rent_charge in data.rent_charges %}
            <tr>
              <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">01-01-{{ rent_charge.field_rate_year }}</td>
              <td headers="view-field-amount-table-column" class="views-field views-field-field-amount">UGX {{ rent_charge.field_rate }} </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<div class="center-container">
  <div class="row">
    <div class="col-md-12 views-field">2.OTHER CHARGES</div>
  </div>
  <div class="row">
    <div class="col-md-4 views-field">Starting amount</div>
    <div class="col-md-4 views-field">
      <span class="views-label">&nbsp;</span>
      <div class="views-label">&nbsp;</div>
    </div>
    <div class="col-md-4 views-field">
      <span class="views-label">Sub-total</span>
      <div class="field-content">UGX {{ data.other_sub_total }}</div>
    </div>
  </div>
</div>
