{#
/**
 * @file
 * Default theme implementation to display summary charges tab data.
 *
 * Available variables:
 * - $data['balance']: balance array contains overall,land_rent, other_fee.
 * - $data['charges']: charges array contains total, land_rent, other.
 * - $data['land_rent']: land_rent array.
 * - $data['land_rent_areares']: array.
 * - $data['other_fees']: array.
 *
 * @ingroup templates
 *
 * @see get_summary_charges_data()
 * @see nfafmis_theme()
 */
#}
<div class="views-row">
  <li class="account-list-tabs hidden">
    <a href="#">SUMMARY CHARGES</a>
  </li>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-4 views-field">Balances</div>
      <div class="col-md-4 views-field">
        <span class="views-label">OVERALL</span>
        <div class="field-content">UGX {{ data.balance.overall }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">1. LAND RENT</span>
        <div class="field-content">UGX {{ data.balance.land_rent }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2. OTHER FEES</span>
        <div class="field-content">UGX {{ data.balance.other_fee }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title">Charges</h5>
  </div>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">TOTAL CHARGES</span>
        <div class="field-content">UGX {{ data.charges.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">
        <a class="use-ajax btn btn-info btn-xs" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="#">Create Invoice</a>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">1. LAND REND</span>
        <div class="field-content">UGX {{ data.charges.land_rent }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2. OTHER FEES</span>
        <div class="field-content">UGX {{ data.charges.other }}</div>
      </div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title"></h5>
  </div>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-12">1. LAND RENT</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Starting amount - total</div>
      <div class="col-md-4 views-field">
        <span class="views-label">edit</span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">Sub-total</span>
        <div class="field-content">UGX {{ data.land_rent.sub_total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Annual charges - total
        <br>These changes are not editable and are calculated automatically
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">Year</span>
        <div class="field-content">Amount</div>
      </div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title"></h5>
  </div>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-12 views-field">2. LAND RENT ARREARS CHARGES</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Areas of</div>
      <div class="col-md-4 views-field">
        <span class="views-label">31-12-2018</span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">Sub-total</span>
        <div class="field-content">UGX {{ data.land_rent_areares.sub_total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Late fee for</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2018</span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="block-section">
      <h5 class="title"></h5>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Previous late fees</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2017</span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">Previous arreas</span>
        <div class="field-content">UGX</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2016</span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">&nbsp;</span>
        <div class="field-content">UGX</div>
      </div>
    </div>
    <div class="block-section">
      <h5 class="title"></h5>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">3. OTHER FEES</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Starting amount - total</div>
      <div class="col-md-4 views-field">
        <span class="views-label"></span>
        <div class="field-content">UGX</div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">Sub-total</span>
        <div class="field-content">UGX {{ data.other_fees.sub_total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">Total annual charges</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Year</span>
        <div class="field-content">Amount</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">2018</span>
        <div class="field-content">UGX</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">2019</span>
        <div class="field-content">UGX</div>
      </div>
    </div>
  </div>
</div>
