{#
/**
* @file
* Default theme implementation to display area's fee & land rent tab.
*
* Available variables:
* - $data['fees']: fees data array.
* - $data['land_rent']: fee data array.
* - $data['farmer_id']: farmer id.
* - $data['offer_licence_id']: area id.
* - $data['starting_amount']: staring data array.
*
* @ingroup templates
*
* @see Drupal\nfafmis\Services::getAreaLandRentAndFeesData()
* @see nfafmis_theme()
*/
#}
<div class="block-section">
  <h5 class="title"></h5>
</div>
<ul class="nav nav-tabs farmer-tabs" id="fees-land-rent">
  <li class="account-list-subtab-fees">
    <a class="tabs-item">Fees</a>
  </li>
  <li class="account-list-subtab-land-rent">
    <a class="tabs-item">Land rent</a>
  </li>
</ul>
<section class="fees">
  <div class="center-container">
    <div class="row">
      <div class="col-md-8">
        <a class="use-ajax btn btn-info btn-xs" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/charge?farmer_id={{data.farmer_id}}&offer_licence_id={{data.offer_licence_id}}">Add Charge</a>
      </div>
      <div class="col-md-4 views-field heading">
        <span class="views-label">Area Fee Balance</span>
        <div class="field-content balance">UGX {{ data.fees.balance }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Area Fee Charges</span>
        <div class="field-content balance">UGX {{ data.fees.charges }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Area Fee Payments</span>
        <div class="field-content payment">UGX {{ data.fees.payments }}</div>
      </div>
    </div>
  </div>
</section>
<section class="land-rent">
  <div class="center-container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field heading">
        <span class="views-label">Land Rent Balance</span>
        <div class="field-content balance">UGX {{ data.land_rent.balance |number_format(0, '.', ',')}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Land Rent Charges</span>
        <div class="field-content balance">UGX {{ data.land_rent.charges |number_format(0, '.', ',')}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Land Rent Payments</span>
        <div class="field-content payment">UGX {{ data.land_rent.payments |number_format(0, '.', ',')}}</div>
      </div>
    </div>
  </div>
  <div class="center-container">
    <div class="row">
      <div class="col-md-2 views-field">Balance brought forward: <br />(Starting amount)</div>
      <div class="col-md-4 views-field">
        {% if data.starting_amount %}
        <div class="field-content">UGX {{ data.starting_amount.amount |number_format(0, '.', ',') }}</div>
        {% else %}
        <div class="field-content">UGX 0</div>
        {% endif %}
      </div>
      <div class="col-md-2 views-field">
        {% if data.starting_amount.amount %}
        <a class="use-ajax btn btn-info btn-sm" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{data.starting_amount.nid}}/edit?destination=/tree-farmer-overview/accounts">Edit</a>
        {% else %}
        <a class="use-ajax btn btn-info btn-sm" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/starting_amount?offer_licence_id={{data.offer_licence_id}}&destination=/tree-farmer-overview/accounts">Add</a>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 views-field">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th>Year</th>
              <th>Land rent due</th>
              <th>Previous Arrears</th>
              <th>Late fee due</th>
              <th>Total due</th>
              <th>Payment Advice Number</th>
              <th>Payment Date</th>
              <th>Receipt Number</th>
            </tr>
          </thead>
          <tbody>
            {# if empty table #}
            {% if data.land_rent.data is empty %}
            <td class="view-empty" colspan="8">No land rent data found for this area.</td>
            {% endif %}
            {# if empty table #}
            {% for rent_charge in data.land_rent.data %}
            <tr>
              {% if rent_charge.date == 'Starting amount' %}
              <td>
                <strong>{{rent_charge.date}}</strong></td>
              {% else %}
              <td>
                {{rent_charge.date}}</td>
              {%endif%}
              <td>UGX {{ rent_charge.land_rent_due |number_format(0, '.', ',')}}</td>
              <td>UGX {{ rent_charge.previous_arrears |number_format(0, '.', ',')}}</td>
              <td>UGX {{ rent_charge.late_fee_due |number_format(0, '.', ',')}}</td>
              <td>UGX {{ rent_charge.total_due |number_format(0, '.', ',')}}</td>
              <td>{{ rent_charge.payment_advc_no }}
                {% if rent_charge.payment_advc_nid %}
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ rent_charge.payment_advc_nid }}">view/print</a>
                {% endif %}
              </td>
              <td>{{ rent_charge.payment_date }}</td>
              <td>{{ rent_charge.receipt_number }}
                {% if rent_charge.payment_nid %}
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ rent_charge.payment_nid }}">view</a>
                {% else %}
                <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/payment?invoice_id={{rent_charge.payment_advc_nid}}&destination=/tree-farmer-overview/accounts">payment</a>
                {% endif %}
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
