{#
/**
* @file
* Default theme implementation to display land rent and other data.
*
* Available variables:
* - $data['total']: total sum.
* - $data['rent_sub_total']: rent sub total.
* - $data['other_sub_total']: other sub total.
* - $data['farmer_id']: farmer id.
* - $data['offer_licence_id']: area id.
* - $data['starting_amount']: staring amount.
*
* @ingroup templates
*
* @see get_land_rent_and_other_data()
* @see nfafmis_theme()
*/
#}
<div class="block-section">
  <h5 class="title"></h5>
</div>
<ul class="nav nav-tabs farmer-tabs" id="fees-land-rent">
  <li class="account-list-subtab-fees">
    <a class="tabs-item">Fees</a>
  </li>
  <li class="account-list-subtab-land-rent">
    <a class="tabs-item">Land rent</a>
  </li>
</ul>
<section class="fees">
  <div class="center-container">
    <div class="row">
      <div class="col-md-8">
        <a class="use-ajax btn btn-info btn-xs" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/charge?farmer_id={{data.farmer_id}}&offer_licence_id={{data.offer_licence_id}}">Add Charge</a>
      </div>
      <div class="col-md-4 views-field heading">
        <span class="views-label">Area Fee Balance</span>
        <div class="field-content balance">UGX {{ data.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Area Fee Charges</span>
        <div class="field-content balance">UGX {{ data.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Area Fee Payments</span>
        <div class="field-content payment">UGX {{ data.total }}</div>
      </div>
    </div>
  </div>
</section>
<section class="land-rent">
  <div class="center-container">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field heading">
        <span class="views-label">Land Rent Balance</span>
        <div class="field-content balance">UGX {{ data.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Land Rent Charges</span>
        <div class="field-content">UGX {{ data.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4 views-field">
        <span class="views-label">Land Rent Payments</span>
        <div class="field-content">UGX {{ data.total }}</div>
      </div>
    </div>
  </div>
  <div class="center-container">
    <div class="row">
      <div class="col-md-2 views-field">Balance brought forward: <br/>(Starting amount)</div>
      <div class="col-md-4 views-field">
        {% if data.starting_amount.land_rent %}
        <span class="views-label text-right">
          <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{data.starting_amount.land_rent.nid}}/edit?destination=/tree-farmer-overview/accounts">edit</a>
        </span>
        <div class="field-content">UGX {{ data.starting_amount.land_rent.amount }}</div>
        {% else %}
        <div class="field-content">UGX</div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
