{#
/**
* @file
* Default theme implementation to display payment tab data.
*
* Available variables:
* - $data['balance']: balance array contains overall,land_rent, other_fee.
* - $data['payment']: charges array contains total, land_rent, other.
*
* @ingroup templates
*
* @see get_summary_charges_data()
* @see nfafmis_theme()
*/
#}
<div class="views-row">
  <li class="account-list-tabs hidden">
    <a href="#">PAYMENTS</a>
  </li>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-4 views-field">Balances</div>
      <div class="col-md-4 views-field">
        <span class="views-label">OVERALL</span>
        <div class="field-content">UGX {{ data.balance.overall }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">1. LAND RENT</span>
        <div class="field-content">UGX {{ data.balance.land_rent }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2. OTHER FEES</span>
        <div class="field-content">UGX {{ data.balance.other_fee }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title">Payments</h5>
  </div>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">TOTAL PAYMENTS</span>
        <div class="field-content">UGX {{ data.payments.total }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">
        <a class="use-ajax btn btn-info btn-xs" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal"href="/node/add/payment?farmer_id={{data.farmer_id}}&destination=/tree-farmer-overview/accounts">Add Payment</a>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">1. LAND REND</span>
        <div class="field-content">UGX {{ data.payments.land_rent }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2. OTHER FEES</span>
        <div class="field-content">UGX {{ data.payments.other }}</div>
      </div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title"></h5>
  </div>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-8 views-field">
        <div class="row">
          <div class="col-md-2 views-field">&nbsp;</div>
          <div class="col-md-6 views-field">
            <span class="views-label">Total payment for year ending</span>
            <div class="field-content text-right">2019</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 views-field">
        <span class="views-label">&nbsp;</span>
        <div class="field-content">UGX</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">1. LAND RENT</div>
    </div>
    <div class="row">
      <div class="table-responsive">
        <table class="table table-hover table-striped">
          <thead>
            <tr>
              <th id="view-field-charge-date-table-column" class="views-field" scope="col">Date</th>
              <th id="view-field-amount-table-column" class="views-field" scope="col">NFA Invoice No</th>
              <th id="view-field-amount-table-column" class="views-field" scope="col">NFA Receipt No</th>
              <th id="view-field-charge-date-table-column" class="views-field" scope="col">URA voucher Number</th>
              <th id="view-field-amount-table-column" class="views-field" scope="col">Description</th>
              <th id="view-field-charge-date-table-column" class="views-field" scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            {# if empty table #}
            {% if data.payment_land_rent is empty %}
            <td class="view-empty" colspan="2">No data found for land rent.</td>
            {% endif %}
            {# if empty table #}
            {% for key,rent_charge in data.payment_land_rent %}
            <tr>
              <td headers="view-field-charge-date-table-column"></td>
              <td headers="view-field-amount-table-column"></td>
              <td headers="view-field-charge-date-table-column"></td>
              <td headers="view-field-amount-table-column"></td>
              <td headers="view-field-charge-date-table-column"></td>
              <td headers="view-field-amount-table-column"></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">TOTAL LAND RENT PAYMENTS</span>
        <div class="field-content">UGX 0</div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">2. OTHER FEES</div>
    </div>
    <div class="row">
      <table class="table table-hover table-striped">
        <thead>
          <tr>
            <th id="view-field-charge-date-table-column" class="views-field" scope="col">Date</th>
            <th id="view-field-amount-table-column" class="views-field" scope="col">NFA Invoice No</th>
            <th id="view-field-amount-table-column" class="views-field" scope="col">NFA Receipt No</th>
            <th id="view-field-charge-date-table-column" class="views-field" scope="col">URA voucher Number</th>
            <th id="view-field-amount-table-column" class="views-field" scope="col">Description</th>
            <th id="view-field-charge-date-table-column" class="views-field" scope="col">Amount</th>
          </tr>
        </thead>
        <tbody>
          {# if empty table #}
          {% if data.payment_land_rent is empty %}
          <td class="view-empty" colspan="2">No data found for other fees.</td>
          {% endif %}
          {# if empty table #}
          {% for key,rent_charge in data.payment_land_rent %}
          <tr>
            <td headers="view-field-charge-date-table-column"></td>
            <td headers="view-field-amount-table-column"></td>
            <td headers="view-field-charge-date-table-column"></td>
            <td headers="view-field-amount-table-column"></td>
            <td headers="view-field-charge-date-table-column"></td>
            <td headers="view-field-amount-table-column"></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-8 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">TOTAL FEE PAYMENTS</span>
        <div class="field-content">UGX 0</div>
      </div>
    </div>
  </div>
</div>
