{#
/**
* @file
* Default theme implementation to display payment tab data.
*
* Available variables:
* - $data['balance']: balance array contains overall,land_rent, other_fee.
* - $data['payment']: array contains total, land_rent, other.
* - $data['payments_details']: array contains data, land_rent, other.
*
* @ingroup templates
*
* @see get_summary_charges_data()
* @see nfafmis_theme()
*/
#}
<div class="views-row">
  <ul class="nav nav-tabs farmer-tabs" id="fees-land-rent">
    <li class="account-list-subtab-fees">
      <a class="tabs-item">Fees</a>
    </li>
    <li class="account-list-subtab-land-rent">
      <a class="tabs-item">Land rent</a>
    </li>
  </ul>
  <li class="account-list-tabs hidden">
    <a href="#">PAYMENTS</a>
  </li>
  <section class="fees">
    <div class="center-container view-label-data">
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label heading">Total Land Rent Balance</span>
          <div class="field-content">UGX {{ data.payments.total }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label">Area Land Rent Payments</span>
          <div class="field-content">UGX {{ data.payments.land_rent }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label">Area Land Rent Charges</span>
          <div class="field-content">UGX {{ data.payments.other_fee }}</div>
        </div>
      </div>
    </div>
  </section>
  <section class="land-rent">
    <div class="center-container view-label-data">
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label heading">Total Land Rent Balance</span>
          <div class="field-content">UGX {{ data.payments.total }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label">Area Land Rent Payments</span>
          <div class="field-content">UGX {{ data.payments.land_rent }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label">Area Land Rent Charges</span>
          <div class="field-content">UGX {{ data.payments.other_fee }}</div>
        </div>
      </div>
    </div>
  </section>
</div>
