{#
/**
* @file
* Default theme implementation to display summary charges tab data.
*
* Available variables:
* - $data['balance']: balance array contains overall,land_rent, other_fee.
* - $data['charges']: charges array contains total, land_rent, other.
* - $data['land_rent']: land_rent array.
* - $data['land_rent_areares']: array.
* - $data['other_fees']: array.
*
* @ingroup templates
*
* @see get_summary_charges_data()
* @see Drupal\nfafmis\Services::getSummaryChargesData()
* @see nfafmis_theme()
*/
#}
<div class="views-row">
  <li class="account-list-tabs hidden">
    <a href="#">SUMMARY CHARGES</a>
  </li>
  <div class="center-container view-label-data">
    <div class="row">
      <div class="col-md-4 views-field">Balances</div>
      <div class="col-md-4 views-field">
        <span class="views-label">OVERALL</span>
        <div class="field-content balance">UGX {{ data.balance.overall }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">1. LAND RENT</span>
        <div class="field-content balance">UGX {{ data.balance.land_rent }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
    <div class="row">
      <div class="col-md-4 views-field">&nbsp;</div>
      <div class="col-md-4 views-field">
        <span class="views-label">2. OTHER FEES</span>
        <div class="field-content balance">UGX {{ data.balance.other_fee }}</div>
      </div>
      <div class="col-md-4 views-field">&nbsp;</div>
    </div>
  </div>
  <div class="block-section">
    <h5 class="title">Charges</h5>
  </div>
  <ul class="nav nav-tabs farmer-tabs" id="fees-land-rent">
    <li class="account-list-subtab-fees">
      <a class="tabs-item">Fees</a>
    </li>
    <li class="account-list-subtab-land-rent">
      <a class="tabs-item">Land rent</a>
    </li>
  </ul>
  <section class="fees">
    <div class="center-container view-label-data">
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field heading">
          <span class="views-label">Outstanding Fees Charges</span>
          <div class="field-content balance">UGX {{ data.charges.total }}</div>
        </div>
      </div>
    </div>
    <div class="center-container">
      <div class="row">
        <div class="col-md-12 views-field">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Date</th>
                  <th id="view-field-amount-table-column" class="views-field views-field-field-amount" scope="col">Area</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Description</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Total due</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Payment Advice Number</th>
                  <th id="view-field-amount-table-column" class="views-field views-field-field-amount" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {# if empty table #}
                {% if data.summary.fees is empty %}
                <td class="view-empty" colspan="6">No Fee data found for this area.</td>
                {% endif %}
                {# if empty table #}
                {% for rent_charge in data.summary.fees %}
                <tr>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">
                    {{rent_charge.date}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.land_rent_due |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.total_due |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.payment_advc_no }}
                    {% if rent_charge.payment_advc_nid %}
                    <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ rent_charge.payment_advc_nid }}">view/print</a>
                    {% endif %}
                  </td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.payment_date }}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.receipt_number }}
                    {% if rent_charge.payment_nid %}
                    <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ rent_charge.payment_nid }}">view</a>
                    {% else %}
                    <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/payment?invoice_id={{rent_charge.payment_advc_nid}}&destination=/tree-farmer-overview/accounts">payment</a>
                    {% endif %}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="land-rent">
    <div class="center-container view-label-data">
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field heading">
          <span class="views-label">Outstanding Land Rent Charges</span>
          <div class="field-content balance">UGX {{ data.charges.total }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">
          <p>These are charges due <strong>now</strong> and are not editable - they are calculated annually</p>
        </div>
        <div class="col-md-4 views-field">
          <span class="views-label">Land Rent Due</span>
          <div class="field-content balance">UGX {{ data.charges.land_rent }}</div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 views-field">&nbsp;</div>
        <div class="col-md-4 views-field">
          <span class="views-label">Land Rate Late Fees</span>
          <div class="field-content balance">UGX {{ data.charges.other }}</div>
        </div>
      </div>
    </div>
    <div class="center-container view-label-data">
      <div class="row">
        <div class="col-md-12 views-field">
          <div class="table-responsive">
            <table class="table table-hover table-striped">
              <thead>
                <tr>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Year</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Area</th>
                  <th id="view-field-amount-table-column" class="views-field views-field-field-amount" scope="col">Land rent due</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Previous Arrears</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Late fee due</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Total due</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col">Payment Advice Number</th>
                  <th id="view-field-charge-date-table-column" class="views-field views-field-field-charge-date" scope="col"></th>
                </tr>
              </thead>
              <tbody>
                {# if empty table #}
                {% if data.summary.land_rent is empty %}
                <td class="view-empty" colspan="8">No land rent data found for this area.</td>
                {% endif %}
                {# if empty table #}
                {% for rent_charge in data.summary.land_rent %}
                <tr>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">
                    {{rent_charge.date}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.land_rent_due |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.previous_arrears |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.late_fee_due |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">UGX {{ rent_charge.total_due |number_format(0, '.', ',')}}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.payment_advc_no }}
                    {% if rent_charge.payment_advc_nid %}
                    <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/{{ rent_charge.payment_advc_nid }}">view/print</a>
                    {% endif %}
                  </td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.payment_date }}</td>
                  <td headers="view-field-charge-date-table-column" class="views-field views-field-field-charge-date">{{ rent_charge.receipt_number }}
                    <a class="use-ajax" data-dialog-options="{&quot;width&quot;:800}" data-dialog-type="modal" href="/node/add/payment?invoice_id={{rent_charge.payment_advc_nid}}&destination=/tree-farmer-overview/accounts">payment</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
