<div class="thinning-harvest-content">
  {{content['field_date']}}
  {{content['field_number_of_units']}}
  {{content['field_offtake_type']}}
  {{content['field_product_type']}}
  {{content['field_unit']}}
</div>
