<div class="sub-area-content">
  {{content['field_area_harvested']}}
  {{content['field_subarea_planted']}}
  {{content['field_date_harvested']}}
  {{content['field_date_planted']}}
  {{content['field_kml_upload']}}
  {{content['field_purpose']}}
  {{content['field_species_variety']}}
  {{content['field_map']}}
  {{content['field_kml']}}
  {{content['kml_map']}}
</div>
