<div class="inventory-content">
  {{content['field_date']}}
  {{content['field_stocking_rate']}}
  {{content['field_stocking_volume']}}
  {{content['field_crop_status_index']}}
  {{content['field_crop_maintenance_index']}}
</div>
